.panel {
    height: 79vh;
}

.navbar {
    height: 10vh;
}

.carousel-inner > .carousel-item > img {
    object-fit: cover;
    height: 89vh;
    width: 100%;
  }

  /* change transition duration to control the speed of fade effect */
.carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.6s;
  }